body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image:  
        linear-gradient(30deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b),
        linear-gradient(150deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b),
        linear-gradient(30deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b),
        linear-gradient(150deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b),
        linear-gradient(60deg, #4b4b4b77 25%, transparent 25.5%, transparent 75%, #4b4b4b77 75%, #4b4b4b77),
        linear-gradient(60deg, #4b4b4b77 25%, transparent 25.5%, transparent 75%, #4b4b4b77 75%, #4b4b4b77);
    background-size: 30px 53px;
    background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
    color: #fff;
    text-align: center;
    animation: moveBackground 1s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
    }
    100% {
        background-position: 30px 53px, 30px 53px, 45px 79px, 45px 79px, 30px 53px, 45px 79px;
    }
}
.container {
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 0 20px 5px rgba(255, 215, 0, 0.5); /* Sombra dorada adicional */
    max-width: 600px;
    margin: 20px;
    border: 3px solid #ffd700; /* Borde dorado */
}

.quote {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}
.author {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    color: #ffd700;
}
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #ff7f50;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}